* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 50px;
}

.poke__container {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.poke,
.pokemon-block-back {
  background: #e63946;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  border-radius: 2rem;
  position: relative;
}

.card-container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .card-container {
  transform: rotateY(180deg);
}

.pokemon-block-back {
  background: black;
}

.poke,
.pokemon-block-back {
  width: 200px;
  height: 82%;
  backface-visibility: hidden;
}

.pokemon-block-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0%;
}

.stat-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
}

.id-poke {
  position: absolute;
  top: 1rem;
  font-size: 7rem;
  opacity: 0.1;
  font-weight: 800;
  z-index: 1;
  color: black;
}

.poke img {
  z-index: 2;
  width: 150px;
}

.poke__type {
  text-transform: uppercase;
  padding: 0.4rem 0.8rem;
  color: white;
  font-weight: 600;
}

.tipo-poke {
  margin: 10px 0;
  display: flex;
  gap: 0.4rem;
}

.height,
.weight {
  font-size: 0.8rem;
  font-weight: 600;
}

/* tipos */

.normal {
  background-color: #aa9;
}

.fire {
  background-color: #f42;
}

.grass {
  background-color: #7c5;
}

.poison {
  background-color: #a59;
}

.water {
  background-color: #39f;
}

.electric {
  background-color: #fc3;
}

.ice {
  background-color: #6cf;
}

.fighting {
  background-color: #b54;
}

.ground {
  background-color: #db5;
}

.flying {
  background-color: #89f;
}

.psychic {
  background-color: #f59;
}

.bug {
  background-color: #ab2;
}

.rock {
  background-color: #ba6;
}

.ghost {
  background-color: #66b;
}

.dragon {
  background-color: #76e;
}

.dark {
  background-color: rgb(7, 3, 1);
}

.steel {
  background-color: #aab;
}

.fairy {
  background-color: #e9e;
}
